/* <<<<<<<<<<<<<<<<<<<<<<<<< Globally Used Styles >>>>>>>>>>>>>>>>>>>>>>>>>  */
:root {
    --white: #ffffff;
    --black: #000000;
    --coolColor: rgb(59, 59, 145);
    --blue: rgb(0, 0, 255);
    --grey1: rgb(128, 128, 128);
    --grey2: rgba(51, 51, 51, 0.9);
    --grey3: rgba(26, 26, 26, 0.8);
    --header1: clamp(2rem, 6vw, 4rem); /* ~32px to ~64px */
    --header2: clamp(1.5rem, 5vw, 3rem); /* ~24px to ~48px */
    --header3: clamp(1rem, 4vw, 2rem); /* ~16px to ~32px */
    --header4: clamp(0.75rem, 3vw, 1.5rem); /* ~12px to ~24px */
    --header5: clamp(0.5rem, 2vw, 1rem); /* ~8px to ~16px */
    --header6: clamp(0.25rem, 1vw, 0.5rem); /* ~4px to ~8px */
}

body {
    background-color: var(--coolColor);
}

h1 {
    font-size: var(--header1);  
}
h2 {
    font-size: var(--header2);  
}
h3 {
    font-size: var(--header3);  
}
h4 {
    font-size: var(--header4);  
}
h5 {
    font-size: var(--header5);  
}
h6 {
    font-size: var(--header6);  
}